@{
    ViewData["Title"] = "Home Page";
}

<header>
    <p>
        <a href="/" style="color: black; text-decoration: underline;">Home</a> | 
        <a href="/Journey/From" style="color: black; text-decoration: underline;">Journey Planner</a> | 
        <a href="/Linear" style="color: black; text-decoration: underline;">Issues</a> | 
        <a href="/Blob" style="color: black; text-decoration: underline;">Blob</a> | 
        <a href="/Home/Privacy" style="color: black; text-decoration: underline;">Privacy</a>
    </p>
</header>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
